@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0px;
    background: #faf2e9;
    background: linear-gradient(65deg, #faf2e9, #A1C298, #AAC4FF);
    background-size: 300% 300%;
    animation: colors 12s ease infinite;
    overflow-x: hidden; 
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer{
    width: 100%;  
    max-height: 70px;
    padding: 35px 0;
    text-align: center;
}

.headop {
    width: 100%;  
    position: relative;
    padding: 7px 0;
    text-align: center;
    background: #2c383e;
    border-radius: 10px;
    
}

.headop li {
    display: inline-block;
    margin: 0 10px;
}

.headop a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #faf2e9;
    margin-right: 32px;

}

.leftside2 > .img-2 > img {
    width: 460px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 150px;
}

.copyright {
    width: 100%;
    color: #2c383e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside2{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.redirectwpp{
    height: 55px;
    width: 200px;
    border: 0;
    background: rgb(222, 231, 231);
    box-shadow: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.rightside2{
    width: 40vw;
    height: 100%;
    align-self: center;
    padding: 2ch;
    white-space: nowrap;
    margin: 76px 0;
}

.txtbox-2 >h1{

    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    color: #2c383e;
    line-height:78px;
    text-align: center;
    line-height: 58px;
    
}

.txtbox-2 >p{
    font-size: medium;
    font-style: italic;
    color: #2c383e;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.playerbox > button > p{
    font-size: medium;
    color: #2c383e;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    text-align: flex start;
    margin: 10px;
    letter-spacing: 1px;
}

.playerbox > button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-radius: 25px;
    border: none;
}

.playerbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1330px) {
    body{
        overflow-x: hidden;
    }
    .txtbox-2 >h1{
        font-size: 50px;
        text-align: center;
        white-space:inherit;
    }
    
}

@media only screen and (max-width: 1090px) {
    body{
        overflow-x: hidden;
    }

    .redirectwpp{
        width: 230px;

    }

    .hl{
        display: none;
    }
    
    .txtbox-2 >h1{
        font-size: 50px;
        text-align: center;
        white-space:none;
        text-align: center;
    }
    .txtbox-2 >p{
        text-align: center;
        white-space:none;
        text-align: center;
    }
    .leftside2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .pag-2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .leftside2 > .img-2 > img{
        margin-left: 80px;
        width: 380px;
        height: auto;
        display: flex;
        justify-content: center;
        

    }


}

@media only screen and (max-width: 725px) {
    body{
        margin: 0;
        overflow-x: hidden;        
    }

    .hl{
        display: none;
    }

    .redirectwpp{
        width: 240px;

    }
    
    .pag-2{   
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
        
    }
    .leftside2{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .rightside2{
        margin: 25px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .txtbox-2 >h1{
        font-size: 50px;
        text-align: center;
        white-space:none;
        text-align: center;
    }
    .txtbox-2 >p{
        text-align: center;
        white-space:none;
        text-align: center;
    }

    .leftside2 > .img-2 > img{
        margin-left: 80px;
        width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        

    }

    .playerbox{
        display: flex;
        flex-direction: column;
    }
    
    .txtbox-2 > p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
}